@page "/validation"
@using BlazorIntro.Models
<h3>Validation</h3>

<EditForm Model="@productAddModel" OnValidSubmit="@HandleSave">

    @*validationları devreye sokar. Modelin üstündeki DataAnnotations'ları (attributesleri) devreye sokar.*@
    <DataAnnotationsValidator></DataAnnotationsValidator>

    @*Hataları kullanıcıya göster.*@
    <ValidationSummary></ValidationSummary>
    <h4>Ürün Adı</h4>
    <InputText id="productName" @bind-Value="@productAddModel.ProductName"></InputText>
 
    <h4>Ürün Açıklaması</h4>
    <InputText id="description" @bind-Value="@productAddModel.Description"></InputText>
    <button type="submit">Kaydet</button>
</EditForm>

@code {
    //çalışacağımız modeli belirtmemiz gerekiyor.
    ProductAddModel productAddModel = new ProductAddModel();

    //veritabanı işlemleri
    private void HandleSave()
    {
        Console.WriteLine("Ürün eklendi.");
    }
}
